{% extends "base.html" %}

{% block title %}Database Create Entry{% endblock %}

{% block content %}
<form action='#' method='post'>
   <label for='key'>Config DB Key (start with '/'):</lbel><br>
   <input type="text" id="key" name="key"><br>
   <label for="value">Value:</label><br>
   <input type="text" id="value" name="value">
   <input type="submit" value="Submit!">
</form>
{% endblock %}

