{% extends "base.html" %}

{% block title %}Database List{% endblock %}

{% block content %}
<table>
    <caption><strong>Config Database Contents</strong></caption>
<tr><th scope="col" style="text-align:left">Key</th><th scope="col" style="text-align:left">Value</th></tr>
    {% for key, value in entries.items() %}
        <tr><td>{{ key }}</td><td>{{ value }}</td></tr>
    {% endfor %}
</table>
{% endblock %}

